


@* USED FOR CHECKING IF USER IS LOGGED IN *@
@using RecordShop.Models.Login
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@* USED FOR CHECKING IF USER IS LOGGED IN *@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ff8f73">
    <meta name="theme-color" content="#ffffff">
    <!-- FAVICON -->

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lexend:wght@100..900&display=swap" rel="stylesheet">    @* font-family: "Lexend", sans-serif; *@
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet"> @*   font-family: "Archivo Black", sans-serif;    *@
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet"> @*   font-family: "Passion One", sans-serif;   *@
    <!-- FONTS -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap CSS -->


    <!-- MY CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/loginpage.css" rel="stylesheet" />
    <link href="~/css/carditem.css" rel="stylesheet" />
    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/add-editpage.css" rel="stylesheet" />
    <link href="~/css/deletepage.css" rel="stylesheet" />
    <link href="~/css/tempdatapopup.css" rel="stylesheet" />
    <link href="~/css/pushablebutton.css" rel="stylesheet" />
    <link href="~/css/homepage.css" rel="stylesheet" />
    <link href="~/css/pagination.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/productpage.css" rel="stylesheet" />
    <link href="~/css/searchbar.css" rel="stylesheet" />
    <link href="~/css/addeditdeletebuttons.css" rel="stylesheet" />
    <link href="~/css/regisrtationpage.css" rel="stylesheet" />
    <link href="~/css/searchsidemenu.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <!-- MY CSS -->


    <!-- JAVASCRIPT -->
    <script src="~/js/searchbar.js"></script>
    <script src="~/js/tempdatapopupanimation.js"></script>
    <!-- JAVASCRIPT -->





    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FONT AWESOME -->
</head>


<body>




    @* Stores the name of the current Controller the user is on and puts it in controllerName*@
    @{
        var areaName = ViewContext.RouteData.Values["Area"]?.ToString() ?? "";
        var controllerName = ViewContext.RouteData.Values["Controller"]?.ToString() ?? "";
        var actionName = ViewContext.RouteData.Values["Action"]?.ToString() ?? "";
    }




    <header class="nav_header">



        @* CHECKBOX AND HAMBURGER + CLOSE ICON *@
        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle" class="nav_label_container">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
            @* <div class="text-center   nav_label_names">Menu</div> *@
        </label>
        @* CHECKBOX AND HAMBURGER + CLOSE ICON *@




        <nav class="main-navigation   text-center">
            <ul class="navbar_ul">



                @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@
                @if (!signInManager.IsSignedIn(User))
                {
                    <!-- HOME -->
                    <li class="navbar_li ">
                        <a class="navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <!-- HOME -->

                    <!-- ABOUT -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                            About
                        </a>
                    </li>
                    <!-- ABOUT -->

                    <!-- LOGIN -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Account" && actionName == "Login" ? "active" : "")" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </li>
                    <!-- LOGIN -->

                    <!-- REGISTER -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Account" && actionName == "Register" ? "active" : "")" asp-controller="Account" asp-action="Register">
                            Register
                        </a>
                    </li>
                    <!-- REGISTER -->

                }
                @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@





                @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@
                @if (signInManager.IsSignedIn(User))
                {
                    <!-- HOME -->
                    <li class="navbar_li ">
                        <a class="navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <!-- HOME -->

                    @* USER HAS ROLE OF ADMIN *@
                    @if (User.IsInRole("Admin"))
                    {
                        <!-- PRODUCTS -->
                        <li class="navbar_li">
                            <a class="navbar_links @(areaName == "" && controllerName == "Product" && actionName == "Index" ? "active" : "")" asp-controller="Product" asp-action="Index">
                                Products
                            </a>
                        </li>
                        <!-- PRODUCTS -->
                    }
                    @* USER HAS ROLE OF ADMIN *@

                    <!-- EMPLOYEES -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Employee" && actionName == "Index" ? "active" : "")" asp-controller="Employee" asp-action="Index">
                            Employees
                        </a>
                    </li>
                    <!-- EMPLOYEES -->

                    <!-- CUSTOMERS -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Customer" && actionName == "Index" ? "active" : "")" asp-controller="Customer" asp-action="Index">
                            Customers
                        </a>
                    </li>
                    <!-- CUSTOMERS -->

                    <!-- INCIDENTS -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "Index" ? "active" : "")" asp-controller="Incident" asp-action="Index">
                            Incidents
                        </a>
                    </li>
                    <!-- INCIDENTS -->

                    <!-- REGISTRATIONS -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Registration" && actionName == "Index" ? "active" : "")" asp-controller="Registration" asp-action="Index">
                            Registrations
                        </a>
                    </li>
                    <!-- REGISTRATIONS -->

                    <!-- EMPLOYEE INCIDNET -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "EmployeeAssignedPicker" ? "active" : "")" asp-controller="Incident" asp-action="EmployeeAssignedPicker">
                            Employee Incident
                        </a>
                    </li>
                    <!-- EMPLOYEE INCIDNET -->


                    @* USER HAS ROLE OF ADMIN *@
                    @if (User.IsInRole("Admin"))
                    {
                        <!-- MANAGE USER -->
                        <li class="navbar_li">
                            <a class="navbar_links @(areaName == "" && controllerName == "User" && actionName == "ManageUsers" ? "active" : "")" asp-controller="User" asp-action="ManageUsers">
                                Manage Users
                            </a>
                        </li>
                        <!-- MANAGE USER -->
                    }


                    <!-- ABOUT -->
                    <li class="navbar_li">
                        <a class="navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                            About
                        </a>
                    </li>
                    <!-- ABOUT -->

                    <!-- LOGOUT -->
                    <li class="navbar_li">
                        <form method="post" asp-action="Logout" asp-controller="Account" asp-area="" class="navbar_links">
                            <button type="submit" class="navbar_links   log_out_button">
                                Logout
                            </button>
                        </form>
                    </li>
                    <!-- LOGOUT -->

                    /* LOG OUT BUTTON */
                    @* <span class="text-light text-center fw-bold">@User.Identity.Name</span> *@
@*                     <li class="navbar_li">
                        <form method="post" asp-action="Logout" asp-controller="Account" asp-area="" class="navbar_links">
                            <button type="submit" class="pushable text-center">
                                <span class="btn    pushable">
                                    <span class="shadow"></span>
                                    <span class="edge"></span>
                                    <span class="front  front_save_button_color">
                                        Logout
                                    </span>
                                </span>
                            </button>
                        </form>
                    </li> *@
                    /* LOG OUT BUTTON */
                }
                @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@
            </ul>
        </nav>


    </header>

















    <div class="whole_site_wrapper">@* class="container-fluid" *@

        @* mmmmmmmmmmmmmmm TEMP DATA CRUD + ACCOUNT MESSAGE mmmmmmmmmmmmmmm *@

        <!-- Include the partial view for the temporary data pop-up message  THIS WILL DISPLAY ON EVERY PAGE SINCE ITS RENDERD ON RenderBody-->
        <partial name="~/Views/TempDataPopUp/TempDataPopUpMessage.cshtml" />
        @* @Html.Partial("~/Views/TempDataPopUp/TempDataPopUpMessage.cshtml") *@

        @* mmmmmmmmmmmmmmm TEMP DATA CRUD + ACCOUNT MESSAGE mmmmmmmmmmmmmmm *@


        <main role="main" class="">
            @RenderBody()
        </main>
    </div>



















<!-- Footer -->
    <footer class=" text-center">
    <div class="footer_container">
        <section class="">
            <div class="row text-center d-flex justify-content-center">


                @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@
                @if (!signInManager.IsSignedIn(User))
                {
                    <!-- HOME -->
                    <div class="col-md-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </h6>
                    </div>
                    <!-- HOME -->

                    <!-- ABOUT -->
                    <div class="col-md-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                                About
                            </a>
                        </h6>
                    </div>
                    <!-- ABOUT -->

                    <!-- REGISTER -->
                    <div class="col-md-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a class="footer_navbar_links @(areaName == "" && controllerName == "Account" && actionName == "Register"  ? "active" : "")" asp-controller="Account" asp-action="Register">
                                Register
                            </a>
                        </h6>
                    </div>
                    <!-- REGISTER -->

                    <!-- LOGIN -->
                    <div class="col-md-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a class="footer_navbar_links @(areaName == "" && controllerName == "Account" && actionName == "Login"  ? "active" : "")" asp-controller="Account" asp-action="Login">
                                Login
                            </a>
                        </h6>
                    </div>
                    <!-- LOGIN -->
                }
                @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@







                @* +++++++ USER IS LOGGED IN AND IS ADMIN +++++++ *@
                @if (signInManager.IsSignedIn(User))
                {
                    @* USER HAS ROLE OF ADMIN *@
                    @if (User.IsInRole("Admin"))
                    {
                        <!-- HOME -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </h6>
                        </div>
                        <!-- HOME -->

                        <!-- PRODUCTS -->
                            <div class="col-md-4  footer_navbar_link_div">
                                <h6 class="text-uppercase font-weight-bold">
                                    <a class="footer_navbar_links @(areaName == "" && controllerName == "Product" && actionName == "Index" ? "active" : "")" asp-controller="Product" asp-action="Index">
                                        Products
                                    </a>
                                </h6>
                            </div>
                        <!-- PRODUCTS -->

                        <!-- EMPLOYEES -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Employee" && actionName == "Index" ? "active" : "")" asp-controller="Employee" asp-action="Index">
                                    Employees
                                </a>
                            </h6>
                        </div>
                        <!-- EMPLOYEES -->

                        <!-- CUSTOMERS -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Customer" && actionName == "Index" ? "active" : "")" asp-controller="Customer" asp-action="Index">
                                    Customers
                                </a>
                            </h6>
                        </div>
                        <!-- CUSTOMERS -->

                        <!-- INCIDENTS -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "Index" ? "active" : "")" asp-controller="Incident" asp-action="Index">
                                    Incidents
                                </a>
                            </h6>
                        </div>
                        <!-- INCIDENTS -->

                        <!-- REGISTRATIONS -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Registration" && actionName == "Index" ? "active" : "")" asp-controller="Registration" asp-action="Index">
                                    Registrations
                                </a>
                            </h6>
                        </div>
                        <!-- REGISTRATIONS -->

                        <!-- EMPLOYEE INCIDENTS -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "EmployeeAssignedPicker" ? "active" : "")" asp-controller="Incident" asp-action="EmployeeAssignedPicker">
                                        Employee Incident
                                </a>
                            </h6>
                        </div>
                            <!-- EMPLOYEE INCIDENTS -->

                        <!-- MANAGE USERS -->
                        <div class="col-md-4  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                    <a class="footer_navbar_links @(areaName == "" && controllerName == "User" && actionName == "ManageUsers" ? "active" : "")" asp-controller="User" asp-action="ManageUsers">
                                    Manage Users
                                </a>
                            </h6>
                        </div>
                            <!-- MANAGE USERS -->

                        <!-- ABOUT -->
                        <div class="col-md-4 footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                                    About
                                </a>
                            </h6>
                        </div>
                        <!-- ABOUT -->
                    }
                }
                @* +++++++ USER IS LOGGED IN AND IS ADMIN +++++++ *@




                @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@
                @if (signInManager.IsSignedIn(User))
                {
                    @* USER IS NOT ROLE OF ADMIN *@
                    @if (!User.IsInRole("Admin"))
                    {
                        <!-- HOME -->
                        <div class="col-md-3  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </h6>
                        </div>
                        <!-- HOME -->

                        <!-- EMPLOYEES -->
                        <div class="col-md-3  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Employee" && actionName == "Index" ? "active" : "")" asp-controller="Employee" asp-action="Index">
                                    Employees
                                </a>
                            </h6>
                        </div>
                        <!-- EMPLOYEES -->

                        <!-- CUSTOMERS -->
                        <div class="col-md-3  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Customer" && actionName == "Index" ? "active" : "")" asp-controller="Customer" asp-action="Index">
                                    Customers
                                </a>
                            </h6>
                        </div>
                        <!-- CUSTOMERS -->

                        <!-- INCIDENTS -->
                        <div class="col-md-3  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "Index" ? "active" : "")" asp-controller="Incident" asp-action="Index">
                                    Incidents
                                </a>
                            </h6>
                        </div>
                        <!-- INCIDENTS -->

                        <!-- REGISTRATIONS -->
                        <div class="col-md-3  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Registration" && actionName == "Index" ? "active" : "")" asp-controller="Registration" asp-action="Index">
                                    Registrations
                                </a>
                            </h6>
                        </div>
                        <!-- REGISTRATIONS -->

                        <!-- EMPLOYEE INCIDENTS -->
                        <div class="col-md-3  footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "EmployeeAssignedPicker" ? "active" : "")" asp-controller="Incident" asp-action="EmployeeAssignedPicker">
                                    Employee Incident
                                </a>
                            </h6>
                        </div>
                        <!-- EMPLOYEE INCIDENTS -->

                        <!-- ABOUT -->
                        <div class="col-md-3 footer_navbar_link_div">
                            <h6 class="text-uppercase font-weight-bold">
                                <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                                    About
                                </a>
                            </h6>
                        </div>
                        <!-- ABOUT -->

                        <!-- EMPTY COL -->
                        <div class="col-md-3"></div>
                        <!-- EMPTY COL -->
                    }
                }
                @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@



            </div>
        </section>
    </div>

    @* BACK TO TOP *@
    <div class="text-center  d-flex justify-content-center">
        <a href="#" class="back_to_top_button">
            <svg class="back_to_top_svgIcon" viewBox="0 0 384 512">
                <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
            </svg>
        </a>
    </div>
    @* BACK TO TOP *@


    <!-- Copyright -->
    <div class="text-center p-3 footer_copyright">
        ©
        <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
        Copyright: Tony Cook
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->



    <!-- jQuery and Bootstrap JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- jQuery and Bootstrap JavaScript -->

</body>


</html>
