<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <!-- Bootstrap CSS and other stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportsPro.styles.css" asp-append-version="true" />
    <!-- Bootstrap CSS and other stylesheets -->

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3     bg-primary  ">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Record Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @* Stores the name of the current Controller the user is on and puts it in controllerName*@
                        @{
                            var controllerName = ViewContext.RouteData.Values["Controller"]?.ToString() ?? "";
                        }

                        <li class="nav-item">
                            @* controllerName is then called to check if its the Controller currently on ~ If so then make its class active if not do nothing*@
                            <a class="nav-link @(controllerName == "Home" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Product" ? "active" : "")" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Employee" ? "active" : "")" asp-controller="Employee" asp-action="Index">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Customer" ? "active" : "")" asp-controller="Customer" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Incident" ? "active" : "")" asp-controller="Incident" asp-action="Index">Incidents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "Registration" ? "active" : "")" asp-controller="Registration" asp-action="Index">Registrations</a>
                        </li>


                        @* retrieves the name of the current controller being accessed. Then we check the current Controller and the View being accessed if its the corresponding one we set the class to active if it isnt do nothing*@
                        @* Original Version That causes Null Warnings
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Product" ? "active" : "")"
                                asp-controller="Product" asp-action="Index">
                                Products
                            </a>
                        </li>
                        *@
                    </ul>

                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link @(controllerName == "About" ? "active" : "")" asp-controller="About" asp-action="Index">About</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer section -->
    <footer class="mt-auto border footer text-muted fixed-bottom  p-2">
        <div class="container">
            &copy; 2024 - Record Shop - @**@
        </div>
    </footer>
    <!-- Footer section -->


    <!-- jQuery and Bootstrap JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- jQuery and Bootstrap JavaScript -->

</body>


</html>
