<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Bootstrap CSS -->


    <!-- MY CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/carditem.css" rel="stylesheet" />
    <link href="~/css/editpage.css" rel="stylesheet" />
    <link href="~/css/tempdatapopup.css" rel="stylesheet" />
    <link href="~/css/homepage.css" rel="stylesheet" />
    <link href="~/css/pagination.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/productpage.css" rel="stylesheet" />
    <link href="~/css/searchbar.css" rel="stylesheet" />
    <link href="~/css/addeditdeletebuttons.css" rel="stylesheet" />
    <link href="~/css/searchsidemenu.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <!-- MY CSS -->


    <!-- JAVASCRIPT -->
    <script src="~/js/searchbar.js"></script>
    <script src="~/js/crudmessageanimation.js"></script>
    <!-- JAVASCRIPT -->


    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lexend:wght@100..900&display=swap" rel="stylesheet">    @* font-family: "Lexend", sans-serif; *@
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet"> @*   font-family: "Archivo Black", sans-serif;    *@
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet"> @*   font-family: "Passion One", sans-serif;   *@
    <!-- FONTS -->


    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FONT AWESOME -->
</head>


<body>




    @* Stores the name of the current Controller the user is on and puts it in controllerName*@
    @{
        var areaName = ViewContext.RouteData.Values["Area"]?.ToString() ?? "";
        var controllerName = ViewContext.RouteData.Values["Controller"]?.ToString() ?? "";
        var actionName = ViewContext.RouteData.Values["Action"]?.ToString() ?? "";
    }






    <header class="nav_header">

        <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
        <label for="page-nav-toggle" class="nav_label_container">
            <svg class="icon--menu-toggle" viewBox="0 0 60 30">
                <g class="icon-group">
                    <g class="icon--menu">
                        <path d="M 6 0 L 54 0" />
                        <path d="M 6 15 L 54 15" />
                        <path d="M 6 30 L 54 30" />
                    </g>
                    <g class="icon--close">
                        <path d="M 15 0 L 45 30" />
                        <path d="M 15 30 L 45 0" />
                    </g>
                </g>
            </svg>
            <div class="text-center   nav_label_names">Menu</div>
        </label>





        <nav class="main-navigation   ">
            <ul class="navbar_ul">
                <li class="navbar_li ">
                    <a class="navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="navbar_li">
                    <a class="navbar_links @(areaName == "" && controllerName == "Product" && actionName == "Index" ? "active" : "")" asp-controller="Product" asp-action="Index">
                        Products
                    </a>
                </li>
                <li class="navbar_li">
                    <a class="navbar_links @(areaName == "" && controllerName == "Employee" && actionName == "Index" ? "active" : "")" asp-controller="Employee" asp-action="Index">
                        Employees
                    </a>
                </li>
                <li class="navbar_li">
                    <a class="navbar_links @(areaName == "" && controllerName == "Customer" && actionName == "Index" ? "active" : "")" asp-controller="Customer" asp-action="Index">
                        Customers
                    </a>
                </li>
                <li class="navbar_li">
                    <a class="navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "Index" ? "active" : "")" asp-controller="Incident" asp-action="Index">
                        Incidents
                    </a>
                </li>
                <li class="navbar_li">
                    <a class="navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                        About
                    </a>
                </li>
                <li class="navbar_li">
                    <a class="navbar_links @(areaName == "" && controllerName == "Registration" && actionName == "Index" ? "active" : "")" asp-controller="Registration" asp-action="Index">
                        Registrations
                    </a>
                </li>
            </ul>
        </nav>


    </header>



    <div >@* class="container-fluid" *@
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>







<!-- Footer -->
<footer class=" text-center">
    <div class="footer_container">
        <section class="mt-5">
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- HOME -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </h6>
                </div>
                <!-- HOME -->

                <!-- PRODUCTS -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Product" && actionName == "Index" ? "active" : "")" asp-controller="Product" asp-action="Index">
                            Products
                        </a>
                    </h6>
                </div>
                <!-- PRODUCTS -->

                <!-- EMPLOYEES -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Employee" && actionName == "Index" ? "active" : "")" asp-controller="Employee" asp-action="Index">
                            Employees
                        </a>
                    </h6>
                </div>
                <!-- EMPLOYEES -->

                <!-- CUSTOMERS -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Customer" && actionName == "Index" ? "active" : "")" asp-controller="Customer" asp-action="Index">
                            Customers
                        </a>
                    </h6>
                </div>
                <!-- CUSTOMERS -->

                <!-- INCIDENTS -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Incident" && actionName == "Index" ? "active" : "")" asp-controller="Incident" asp-action="Index">
                            Incidents
                        </a>
                    </h6>
                </div>
                <!-- INCIDENTS -->

                <!-- ABOUT -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Home" && actionName == "About"  ? "active" : "")" asp-controller="About" asp-action="Index">
                            About
                        </a>
                    </h6>
                </div>
                <!-- ABOUT -->

                <!-- REGISTRATIONS -->
                <div class="col-md-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="footer_navbar_links @(areaName == "" && controllerName == "Registration" && actionName == "Index" ? "active" : "")" asp-controller="Registration" asp-action="Index">
                            Registrations
                        </a>
                    </h6>
                </div>
                <!-- REGISTRATIONS -->

            </div>
        </section>
    </div>

    @* BACK TO TOP *@
    <div class="text-center  d-flex justify-content-center">
        <a href="#" class="back_to_top_button">
            <svg class="back_to_top_svgIcon" viewBox="0 0 384 512">
                <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path>
            </svg>
        </a>
    </div>
    @* BACK TO TOP *@


    <!-- Copyright -->
    <div class="text-center p-3 footer_copyright">
        ©
        <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
        Copyright: Tony Cook
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->



    <!-- jQuery and Bootstrap JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- jQuery and Bootstrap JavaScript -->

</body>


</html>
