
@model ProductModel

@{
    ViewData["Title"] = "Customer Registrations";
}



<div class="container   text-center ">


    @* PAGE HEADER *@
    <h1 class="page_header_text   text_shadow_pop_top   text-center">
        Registration
    </h1>
    @* PAGE HEADER *@

    <div class="add-edit_input_div">
        <form asp-controller="Registration" asp-action="CustomerProductSelected" method="post">

            <select name="customerModelId" class="add-edit_select_input  registrations_select_radius  form-control"> @* asp-for="Customers" *@
                @* If the Viewbag with the current Id is empty loop through the customers for user to choose from *@
                @if (string.IsNullOrEmpty(ViewBag.CurrentCustomerIdCookie))
                {
                    @* <option class="add-edit_selction_option   fw-bold" value="" selected>Select Customer</option> *@
                    @foreach (var customer in ViewBag.Customers)
                    {
                        <option class="add-edit_selction_option" value="@customer.CustomerModelId">
                            @customer.CustomerFirstName  @customer.CustomerLastName
                        </option>
                    }
                }
                else
                {
                    <!-- If there is a current customer ID stored in the ViewBag -->
                    var currentCustomerId = ViewBag.CurrentCustomerIdCookie.ToString();

                    foreach (var customer in ViewBag.Customers)
                    {
                        <!-- Check if the current Customer ID matches the ID of the current Customer being iterated -->
                        if (customer.CustomerModelId.ToString() == currentCustomerId)
                        {
                            <option  selected   class="add-edit_selction_option" value="@customer.CustomerModelId">
                                @customer.CustomerFirstName  @customer.CustomerLastName
                            </option>
                        }
                        /* This shows all of the other Customer Options */
                        else
                        {
                            <option class="add-edit_selction_option" value="@customer.CustomerModelId">
                                @customer.CustomerFirstName  @customer.CustomerLastName
                            </option>
                        }
                    }
                }

            </select>


            @* FILTER BUTTON *@
            <div class="register-login_button_div">
                <button type="submit" class="pushable text-center  m-3">
                    <span class="btn    pushable">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front  front_save_button_color">
                            Filter
                        </span>
                    </span>
                </button>
            </div>
            @* FILTER BUTTON *@

        </form>
    </div>
</div>


