
@model IncidentAddEditViewModel



@{
    ViewBag.Title = $"{ViewBag.Action}";
}


@* Real Time Validation *@
@{
    // Specify the layout file to use (if necessary)
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <!-- Include jQuery validation libraries -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
@* Real Time Validation *@




<h1>@ViewBag.Action</h1>




<form asp-action="EditIncident" method="post">

    @* All Error Messages *@
    @*     <div asp-validation-summary="All" class="text-danger"></div> *@



    @* CUSTOMER *@
    <div class="mb-3">
        <label asp-for="CustomerModelId" class="form-label">Customer</label>

        <select asp-for="CustomerModelId" class="form-control">
            <option value="">Select Customer</option>
            @foreach (var customer in ViewBag.Customers)
            {
                <option value="@customer.CustomerModelId">@customer.CustomerFirstName  @customer.CustomerLastName</option>
            }
        </select>
@*         <select asp-for="CustomerModelId" asp-items="@(new SelectList(ViewBag.Customers, "CustomerModelId", "CustomerFirstName"))" class="form-control">
            <option value="">Select Customer</option>
        </select> *@

        <span class="text-danger" asp-validation-for="CustomerModelId"></span> @* Error Message *@

    </div>
    @* CUSTOMER *@




    @* PRODUCT *@
    <div class="mb-3">
        <label asp-for="ProductModelId" class="form-label">Product</label>

        <select asp-for="ProductModelId" class="form-control">
            <option value="">Select Record</option>
            @foreach (var record in ViewBag.Products)
            {
                <option value="@record.ProductModelId">@record.RecordName</option>
            }
        </select>

        <span class="text-danger" asp-validation-for="ProductModelId"></span> @* Error Message *@

    </div>
    @* PRODUCT *@



    @* TITLE *@
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control" />

        <span class="text-danger" asp-validation-for="Title"></span> @* Error Message *@
    </div>
    @* TITLE *@


    @* DESCRIPTION *@
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />

        <span class="text-danger" asp-validation-for="Description"></span> @* Error Message *@
    </div>
    @* DESCRIPTION *@




    @* EMPLOYEE *@
    <div class="mb-3">
        <label asp-for="EmployeeModelId" class="form-label">Employee</label>

        <select asp-for="EmployeeModelId" class="form-control">
            <option value="">Select Employee</option>
            @foreach (var employee in ViewBag.Employees)
            {
                <option value="@employee.EmployeeModelId">@employee.FirstName  @employee.LastName</option>
            }
        </select>

        <span class="text-danger" asp-validation-for="EmployeeModelId"></span> @* Error Message *@

    </div>
    @* EMPLOYEE *@




    @* DATE OPENED *@
    <div class="mb-3">
        <label asp-for="DateOpened" class="form-label">Date Opened</label>

        <input asp-for="DateOpened" class="form-control" type="text"
            value="@((Model.DateOpened.HasValue ? Model.DateOpened.Value.ToString("MM/dd/yyyy h:mm tt") : DateTime.Now.ToString("MM/dd/yyyy h:mm tt")))" />

        <span class="text-danger" asp-validation-for="DateOpened"></span> @* Error Message *@
    </div>
    @* DATE OPENED *@




    @* DATE CLOSED *@
    <div class="mb-3">
        <label asp-for="DateClosed" class="form-label">Date Closed</label>

        <input asp-for="DateClosed" class="form-control" type="datetime-local"
            value="@((Model.DateClosed.HasValue ? Model.DateClosed.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty))" />


        <span class="text-danger" asp-validation-for="DateClosed"></span> @* Error Message *@
    </div>
    @* DATE CLOSED *@



    <input type="hidden" asp-for="IncidentModelId" />

    <button type="submit" class="btn btn-primary">Save</button>

    <a asp-controller="Incident" asp-action="Index" class="btn btn-secondary">Cancel</a>





</form>
