@model IncidentModel


@{
    ViewBag.Title = "Get Employee";
}





<div class="container   text-center ">


    @* PAGE HEADER *@
    <h1 class="page_header_text   text_shadow_pop_top   text-center">
        Select Employee
    </h1>
    @* PAGE HEADER *@

    <div class="add-edit_input_div">
        <form asp-controller="Incident" asp-action="EmployeeAssignedIncidentDetails" method="post">

            <select  name="employeeId" class="add-edit_select_input  registrations_select_radius  form-control">
                @* If the Viewbag with the current Id is empty loop through the employees for users to choose from *@
                @if (string.IsNullOrEmpty(ViewBag.CurrentEmployeeIdCookie))
                {
                    @* <option class="add-edit_selction_option   fw-bold" value="" selected>Select Employee</option> *@
                    @foreach (var employee in ViewBag.Employees)
                    {
                        <option class="add-edit_selction_option" value="@employee.EmployeeModelId">
                            @employee.FirstName @employee.LastName
                        </option>
                    }
                }
                else
                {
                    <!-- If there is a current employee ID stored in the ViewBag -->
                    var currentEmployeeId = ViewBag.CurrentEmployeeIdCookie.ToString();

                    foreach (var employee in ViewBag.Employees)
                    {
                        <!-- Check if the current employee ID matches the ID of the current employee being iterated -->
                        if (employee.EmployeeModelId.ToString() == currentEmployeeId)
                        {
                            <option selected class="add-edit_selction_option" value="@employee.EmployeeModelId" >
                                @employee.FirstName @employee.LastName
                            </option>
                        }
                        /* This shows all of the other Employee Options */
                        else
                        {
                            <option class="add-edit_selction_option" value="@employee.EmployeeModelId">
                                @employee.FirstName @employee.LastName
                            </option>
                        }
                    }
                }

            </select>


            @* FILTER BUTTON *@
            <div class="register-login_button_div">
                <button type="submit" class="pushable text-center  m-3">
                    <span class="btn    pushable">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front  front_save_button_color">
                            Select Employee
                        </span>
                    </span>
                </button>
            </div>
            @* FILTER BUTTON *@

        </form>
    </div>
</div>



