@*
    INCIDENTS Page
*@
@{
    ViewData["Title"] = "Incidents";
}

@* @model List<IncidentModel> *@

@model IncidentListViewModel



@* Checks if there is a string in our Temp Data Message. If So Show the Message If not Nothing. This is so We don't see its padding and color *@
@if (!string.IsNullOrEmpty(TempData["CRUDMessage"] as string))
{
    <div class="text-center bg-info py-3 mt-3">
        <h1 class="">@(TempData["CRUDMessage"])</h1>
    </div>
}


<h1>Incidents</h1>




@* FILTERING BY OPEN/UNASSIGNED INCIDENTS *@
<div class="col-md-2">
    <ul class="list-group text-center">

        <li class="list-group-item">
            <a asp-controller="Incident" asp-action="Index" class="nav-link">All</a>
        </li>

        <li class="list-group-item">
            <a asp-controller="Incident" asp-action="Index" asp-route-incidentSelector="-1" class="nav-link">Unassigned Incidents</a>
        </li>

        <li class="list-group-item">
            <a asp-controller="Incident" asp-action="Index" asp-route-incidentSelector="open" class="nav-link">Open Incidents</a>
        </li>
    </ul>
</div>
@* FILTERING BY OPEN/UNASSIGNED INCIDENTS *@




<table class="table  table-responsive   table-striped  border  border-secondary   ">


    <thead class="">
        <tr>
            <th>Title</th>
            <th>Customer </th>
            <th>Product</th>
            <th>Assigned To Employee</th>
            <th>Date Opened</th>

            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var incident in Model.IncidentItems)
    @* @foreach (var incident in Model) *@
    {

        <tr>
            <td>@incident.Title</td>
            <td>@incident.Customer.CustomerFirstName   @incident.Customer.CustomerLastName</td>
            <td>@incident.Product.RecordName</td>
            <td>@incident.Employee.FirstName @incident.Employee.LastName </td>
            <td>@incident.DateOpened</td>

            <td>
                <a asp-controller="Incident" asp-action="EditIncident" asp-route-id="@incident.IncidentModelId" asp-route-slug="@incident.Slug" class="btn btn-outline-primary">Edit</a>
            </td>
            <td>
                <a asp-controller="Incident" asp-action="DeleteIncident" asp-route-id="@incident.IncidentModelId" asp-route-slug="@incident.Slug" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }


</table>



<div>
    <a asp-controller="Incident" asp-action="Add" class="btn btn-outline-primary">Add New Incident</a>
</div>