
@model List<ProductModel>


@{
    ViewData["Title"] = "Product Manager";
}



<h1> Product Manager </h1>





<table class="table  table-responsive   table-striped  border  border-secondary ">


    <thead class="">
        <tr>
            <th>Code</th>
            <th>Record Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var product in Model)
    {

        <tr>
            <td>@product.Code</td>
            <td>@product.RecordName</td>
            <td>@product.ArtistName</td>
            <td>@product.Genre.GenreName</td>
            <td>@product.ReleaseDate</td>
            <td>@product.Price?.ToString("C")</td>

            <td>
                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.ProductModelId" asp-route-slug="@product.Slug" class="btn btn-outline-primary">Edit</a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.ProductModelId" asp-route-slug="@product.Slug" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }


</table>


<div>
    <a asp-controller="Product" asp-action="Add" class="btn btn-outline-primary">Add New Record</a>
</div>