
@model List<ProductModel>


@{
    ViewData["Title"] = "Product Manager";
}



@* Checks if there is a string in our Temp Data Message. If So Show the Message If not Nothing. This is so We don't see its padding and color *@
@if (!string.IsNullOrEmpty(TempData["CRUDMessage"] as string))
{
    <div class="text-center bg-info py-3 mt-3">
        <h1 class="">@(TempData["CRUDMessage"])</h1>
    </div>
}



<h1> Product Manager </h1>



@* FILTERING BY ARTIST NAME*@
<div class="col-md-2">
    <ul class="list-group text-center">
        <li class="list-group-item">
            <a asp-controller="Product" asp-action="Index" asp-route-artist="all" class="nav-link">All</a>
        </li>
        @foreach (var artistName in ViewBag.ArtistNames)
        {
            <li class="list-group-item">
                <a asp-controller="Product" asp-action="Index" asp-route-artist="@artistName" class="nav-link">@artistName</a>
            </li>
        }
    </ul>
</div>
@* FILTERING BY ARTIST NAME*@




<table class="table  table-responsive   table-striped  border  border-secondary ">


    <thead class="">
        <tr>
            <th>Code</th>
            <th>Record Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var product in Model)
    {

        <tr>
            <td>@product.Code</td>
            <td>@product.RecordName</td>
            <td>@product.ArtistName</td>
            <td>@product.Genre.GenreName</td>
            <td>@product.ReleaseDate</td>
            <td>@product.Price?.ToString("C")</td>

            <td>
                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.ProductModelId" asp-route-slug="@product.Slug" class="btn btn-outline-primary">Edit</a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.ProductModelId" asp-route-slug="@product.Slug" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
    }


</table>


<div>
    <a asp-controller="Product" asp-action="Add" class="btn btn-outline-primary">Add New Record</a>
</div>


